<div>
  <app-my-chart [type]="'bar'" 
                [title]="'Produits par catégorie'"
                [data]="produitData"
                >
  </app-my-chart>
  <app-my-chart [type]="'line'" 
                [title]="'Représentation linéaire des produits'"
                [data]="produitData"
                > </app-my-chart>
</div>

<div>
    <app-my-chart [type]="'bar'" 
                  [title]="'Utilisateurs par role'"
                  [data]="userData"
                  >
    </app-my-chart>
    <app-my-chart [type]="'line'" 
                  [title]="'Représentation linéaire des utilisateurs'"
                  [data]="userData"
                  > </app-my-chart>
  </div>